<div class="container">

	<div ui-view="navbar"></div>

	<div class="row mb-60">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

			<h1 class="lighter" ng-if="!formCtrl.isUpdate">Novo carro</h1>
			<h1 class="lighter" ng-if="formCtrl.isUpdate">Editar</h1>

			<form name="form" ng-submit="formCtrl.save(formCtrl.car)">

				<div class="form-group">
					<label for="plate">Placa</label>
					<input type="text" class="form-control" ng-model="formCtrl.car.placa" id="plate" name="plate" required="" ui-mask="AAA9999">
					<div ng-show="form.$submitted || form.plate.$touched">
				    	<div ng-show="form.plate.$error.required" class="error">Campo obrigatório</div>
				    </div>
				</div>

				<div class="form-group">
					<label for="model">Modelo</label>
					<input type="text" class="form-control" ng-model="formCtrl.car.modelo" id="model" name="model" required="">
					<div ng-show="form.$submitted || form.model.$touched">
				    	<div ng-show="form.model.$error.required" class="error">Campo obrigatório</div>
				    </div>
				</div>

				<div class="form-group">
					<label for="brand">Marca</label>
					<input type="text" class="form-control" ng-model="formCtrl.car.marca" id="brand" name="brand" required>
					<div ng-show="form.$submitted || form.brand.$touched">
				    	<div ng-show="form.brand.$error.required" class="error">Campo obrigatório</div>
				    </div>
				</div>

				<div class="form-group">
					<label for="image">Foto</label>
					<input type="url" class="form-control" ng-model="formCtrl.car.imagem" id="image" placeholder="http://minhafoto/foto.jpg">
				</div>

				<div class="form-group">
					<label for="fuel">Combustível</label>
					<input type="text" class="form-control" ng-model="formCtrl.car.combustivel" id="fuel">
				</div>

				<div class="form-group">
					<label for="value">Valor</label>
					<input type="text" class="form-control" ng-model="formCtrl.car.valor" id="value" ui-number-mask="3">
				</div>
				<button type="submit" class="btn btn-block btn-green">Salvar</button>
				<a class="btn btn-block btn btn-primary" ng-click="formCtrl.back()">Voltar</a>

			</form>
		</div>

	</div>

</div>