<div class="container">

    <div ui-view="navbar"></div>

    <div class="row mb-20">
        <div class="col-xs-12 col-sm-8 hidden-xs">
            <a ui-sref="new" class="btn btn-green">Novo Carro</a>
        </div>

        <div class="col-xs-12 col-sm-4 ">
            <div class="input-group input-search pull-right">
                <input ng-model="listCtrl.search" type="text" name="" class="form-control pull-right" placeholder="Pesquisar">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table
            class="table table-hover table-curved"
            at-table
            at-paginated
            at-list="listCtrl.results"
            at-config="listCtrl.config"
        >
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td at-attribute="placa" at-title="Placa">
                        {{ item.placa }}
                    </td>
                    <td at-attribute="modelo" at-title="Modelo">
                        {{ item.modelo }}
                    </td>
                    <td at-attribute="marca" at-title="Marca">
                        {{ item.marca }}
                    </td>
                    <td at-attribute="imagem" at-title="Foto">
                        <a href="#" ng-if="item.imagem" data-ng-click="listCtrl.openModal(item)">Imagem</a>
                        <span ng-if="!item.imagem">Sem foto</span>
                    </td>

                    <td at-attribute="combustivel" at-title="Combust&iacute;vel">
                        {{ item.combustivel }}
                    </td>
                    <td class="text-right" at-attribute="valor" at-title="Valor">
                        {{ item.valor }}
                    </td>
                    <td class="text-center" at-title="Ações">
                        <a  ui-sref="edit({id: item.id})"
                            class="actions"
                            title="Editar"
                            data-toggle="popover"
                            data-placement="bottom"
                            data-trigger="hover"
                            data-toggle="tooltip">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a ng-click="listCtrl.delete(item.id)" class="actions" data-toggle="tooltip" title="Excluir">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <at-pagination at-list="listCtrl.results" at-config="listCtrl.config" class="pagination"></at-pagination>
    </div>

</div>