<div class="modal-header">
	<h3 class="">Imagem</h3>
</div>
<div class="modal-body" >
	<img class="center-block img-responsive" ng-if="ctrl.image" ng-src="{{ ctrl.image }}">
</div>
<div class="modal-footer">
	<a class="btn btn-primary" ng-click="ctrl.close()">OK</a>
</div>