<nav class="navbar navbar-default">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle btn-green" ui-sref="new" ng-if="formCtrl.isUpdate === undefined">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

             <a class="navbar-brand" ui-sref="home">
                <i class="icon-logo_contaazul"></i>
            </a>

        </div>

    </div>

</nav>