body * {
	font-family: 'proxima_nova_altlight', sans-serif;
}
body {
	background: @background;
	color: #385A7B;
}

.btn {
	padding: .9rem 2.6rem;
}

.btn-green {
	&,
	&:visited {
    	background: #17CC4E;
    	color: @white;
    }
    &:focus,
    &:hover {
	    background: #449D44;
	    color: @white;
	}
}

.btn-primary {
    color: #fff;
    background-color: #5a5a5a;
    border-color: #5a5a5a;

    &:hover {
    	background-color: #444;
    	border-color: #444;
    }
}

a.actions {
	text-decoration: none;

	.glyphicon {
		padding: 0 .9rem;
		cursor: pointer;
		&.glyphicon-remove {
			color: #b94a48;
		}
	}
}