@blue: #4E61F2;
@white: #fff;
@background: #F1F3FA;

@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('../fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fontello;
    src: url(../fonts/fontelloeot?42160437);
    src: url(../fonts/fontelloeot?42160437#iefix) format('embedded-opentype'),
    url(../fonts/fontello.woff?42160437) format('woff'),
    url(../fonts/fontello.ttf?42160437) format('truetype'),
    url(../fonts/fontello.svg?42160437#fontello) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"]:before,[class^=icon-]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-logo_contaazul:before {
    content: '\e80e'
}

.mb-20 {
    margin-bottom: 2.0rem;
}
.mb-60 {
    margin-bottom: 6.0rem;
}

.lighter {
    font-weight: 100;
}

.no-margin {
    margin: 0;
}

.error {
    color: red;
    padding-top: 0.3rem;
}