.navbar-default {
    background-color: @blue;
    border-color: @blue;
    border-radius: 0;

    .navbar-brand {
    	&,
    	&:focus,
    	&:hover {
		    height: 4.8rem;
		    font-size: 1.4rem;
		    color: @white;
		    line-height: 2.0rem;
		}
	}

    .navbar-toggle {
        border-color: #17CC4E;
        &:hover {
            background-color: #1fde59;
            border-color: #1fde59;
        }
    }
}