.pagination {
	> li {
		> a,
		> span {
			padding: .8rem 1.4rem;
			color: #385A7B;
			min-width: 3.8rem;
			height: 3.8rem;
			&:hover {
				background-color: #FEFDE8;
				color: #385A7B;
			}
		}


		&:not(.ng-scope){
			a {
				font-size: 1.8rem;
				font-weight: bold;
				line-height: 1.8rem;
			}

			&.disable {
				a {
					font-weight: bold;
				}
			}
		}
	}
	.active {
		> a {
			&,
			&:hover {
				background-color: #D9E5FE;
				color: #385A7B;
				border-color: #8FBBFA;
			}
		}
	}
}