.input-group {

	&.input-search {

		.form-control {
			padding: 1.9rem 1.2rem;
		}

		.btn-search {
			padding: 1.05rem 1.2rem;
    		font-size: 1.2rem;
			background-color: #F1F2F9;
			border-color: #ccc;
		}
	}
}