.table {
	background-color: @white;
	border: 1px solid #ddd;

	tr {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}

	> thead {
		background: #F8F9FC;
		> tr {
			> th {
				&:nth-last-child(2) {
					text-align: right;
				}
				&:last-child {
					text-align: center;
				}
				border-bottom: 0;
				padding: .9rem 1.6rem;
			}
		}
	}

	> tbody {
		> tr {
			> td {
				padding: 1.4rem 1.6rem;
			}
		}
	}

	&.table-hover {
		> tbody {
			> tr {
				&:hover {
					background-color: #D9E5FE;
				}
			}
		}
	}

	&.table-curved {
	    border-collapse:separate;
	    border-radius: 4px;

	    thead {
			tr {
				th {
					&:firt-child {
						border-top-left-radius: 4px;
					}
					&:last-child {
					    border-top-right-radius: 4px;
					}
				}
			}
		}
		tr {
			&:last-child {
		    	td {
		    		&:firt-child {
					    border-bottom-left-radius: 4px;
					}

					&:last-child {
					    border-bottom-right-radius: 4px;
					}
				}
			}
		}
	}
}
